{
    "openapi": "3.0.1",
    "info": {
        "title": "Constituent",
        "description": "This API manages constituent information and related entities such as addresses, phones, emails, and notes.",
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https://api.sky.blackbaud.com/constituent/v1"
        }
    ],
    "paths": {
        "/actions": {
            "get": {
                "tags": [
                    "Action"
                ],
                "summary": "Action list (All constituents)",
                "description": "Returns a paginated list of actions.\r\n<p />\r\nThe default sorting behavior is to list actions in ascending order based on when they were created.\r\n<p />\r\nHowever, the <code>last_modified</code> parameter overrides the default sorting behavior to list actions in ascending order based on when they were last modified. The <code>last_modified</code> parameter also adds the <code>sort_token</code> parameter to the <code>next_link</code> URL to ensure that actions are stably sorted and that order persists when changes occur while working through a paginated list.\r\n<p />\r\nIf the <code>last_modified</code> and <code>date_added</code> parameters are both specified, the sorting behavior is to list actions based on when they were last modified.\r\n<p />",
                "operationId": "ListActionsAllConstituents",
                "parameters": [
                    {
                        "name": "computed_status",
                        "in": "query",
                        "description": "Represents a filter for results based on the computed action status. Available values are 'Open', 'Completed', or 'PastDue'.  Currently, only a single value can be supplied in the filter.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "enum": [
                                    "Open",
                                    "Completed",
                                    "PastDue"
                                ],
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "date_added",
                        "in": "query",
                        "description": "Represents a filter for results created on or after the specified date. Adds the sort_token parameter to the next_link URL to ensure that actions are stably sorted. The filter respects time offsets from UTC per the ISO-8601 format: 2016-05-05T17:59:31.1600745-04:00.",
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "last_modified",
                        "in": "query",
                        "description": "Represents a filter for results modified on or after the specified date. Adds the sort_token parameter to the next_link URL to ensure that actions are stably sorted. The filter respects time offsets from UTC per the ISO-8601 format: 2016-05-05T17:59:31.1600745-04:00.",
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "sort_token",
                        "in": "query",
                        "description": "Represents a token filter to provide the next stable-sorted list of actions and to ensure that the order persists even if changes occur while working through a paginated list. The token is provided on the next_link collection response property when the request specifies the sort_token filter. The last_modified, date_added, and sort parameters also add the token to the next_link URL, although the sort parameter only adds the token when it sorts by just the date_added field or just the date_modified field.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "status_code",
                        "in": "query",
                        "description": "Represents a filter for results based on the action status. Returns actions if any of the specified status codes match any of their status codes. For example, \"status_code=Closed&amp;status_code=Pending\" returns actions with a status of either \"Closed\" or \"Pending\".",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "list_id",
                        "in": "query",
                        "description": "Defines a list identifier used to filter the set of actions to those included in the specified list. If this value is set, other specified filters will be ignored.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "continuation_token",
                        "in": "query",
                        "description": "Defines a continuation token for the current result set that should be used when fetching the next page of results from list platform.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "Represents the number of records to skip. For use with pagination. Deprecated for environments with access to new Action lists.",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Represents the number of records to return. The default is 500. The maximum is 5000.",
                        "schema": {
                            "maximum": 5000,
                            "minimum": 0,
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returned when the operation succeeds. The response body contains a <a href=\"https://developer.blackbaud.com/skyapi/api/entity-reference/constituent#Collection\">collection</a> of <a href=\"https://developer.blackbaud.com/skyapi/api/entity-reference/constituent#Action\">action</a> entities.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiCollectionOfActionRead"
                                },
                                "example": {
                                    "count": 878,
                                    "next_link": "https://api.sky.blackbaud.com/constituent/v1/actions?offset=3&limit=3",
                                    "value": [
                                        {
                                            "id": "1",
                                            "category": "Meeting",
                                            "completed": false,
                                            "computed_status": "PastDue",
                                            "constituent_id": "185",
                                            "date": "2008-10-10T00:00:00.0000000+00:00",
                                            "date_added": "1999-06-17T19:34:16.0000000+00:00",
                                            "date_modified": "2008-01-23T16:30:17.7070000+00:00",
                                            "description": "Reservations at Rafferty's.  Will review agenda for Capital Campaign.",
                                            "direction": "Outbound",
                                            "end_time": "2025-11-07",
                                            "location": "Rafferty's",
                                            "outcome": "Successful",
                                            "priority": "Normal",
                                            "start_time": "2025-11-07",
                                            "status": "Past due",
                                            "status_code": "Pending",
                                            "summary": "Reservations at Rafferty's.  Will review agenda for Capital Campaign.",
                                            "type": "Lunch Meeting"
                                        },
                                        {
                                            "id": "2",
                                            "category": "Task/Other",
                                            "completed": false,
                                            "computed_status": "PastDue",
                                            "constituent_id": "191",
                                            "date": "2010-01-01T00:00:00.0000000+00:00",
                                            "date_added": "1999-06-25T19:40:22.0000000+00:00",
                                            "date_modified": "2008-02-07T13:50:06.0670000+00:00",
                                            "description": "Send Birthday Card annually the first week in January.",
                                            "direction": "Outbound",
                                            "end_time": "2025-11-07",
                                            "location": "Hilton Hotel",
                                            "outcome": "Successful",
                                            "priority": "Normal",
                                            "start_time": "2025-11-07",
                                            "status": "Past due",
                                            "status_code": "Pending",
                                            "summary": "Send Birthday Card annually the first week in January.",
                                            "type": "Birthday"
                                        },
                                        {
                                            "id": "3",
                                            "category": "Meeting",
                                            "completed": true,
                                            "completed_date": "2003-07-10T00:00:00.0000000+00:00",
                                            "computed_status": "Completed",
                                            "constituent_id": "265",
                                            "date": "2003-07-10T00:00:00.0000000+00:00",
                                            "date_added": "1999-06-28T18:18:25.0000000+00:00",
                                            "date_modified": "2004-02-27T18:18:50.2570000+00:00",
                                            "description": "Discuss possible appointment to the Board of Directors for the 2003 term.",
                                            "direction": "Outbound",
                                            "end_time": "2025-11-07",
                                            "location": "Arthur's Restaurant",
                                            "outcome": "Successful",
                                            "priority": "Normal",
                                            "start_time": "2025-11-07",
                                            "status": "Completed",
                                            "status_code": "Closed",
                                            "summary": "Discuss possible appointment to the Board of Directors for the 2003 term.",
                                            "type": "Lunch Meeting"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Returned when the specified request parameters are not in the appropriate format.",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "403": {
                        "description": "Returned when the user does not have permission to view the actions.",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Action"
                ],
                "summary": "Action (Create)",
                "description": "Creates a constituent action.",
                "operationId": "CreateAction",
                "requestBody": {
                    "description": "An object that represents the action to create.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ActionAdd"
                            },
                            "example": {
                                "author": "John Doe",
                                "category": "Meeting",
                                "completed": true,
                                "completed_date": "2015-08-26T00:00:00.0000000+00:00",
                                "constituent_id": "280",
                                "date": "2015-08-26T00:00:00.0000000+00:00",
                                "description": "Had dinner with Dr. Hernandez at Rafferty's",
                                "direction": "Outbound",
                                "end_time": "2025-11-07",
                                "fundraisers": [
                                    "252"
                                ],
                                "location": "Rafferty's",
                                "opportunity_id": "23",
                                "outcome": "Successful",
                                "priority": "Normal",
                                "start_time": "2025-11-07",
                                "status": "Closed",
                                "summary": "Sushi dinner celebration",
                                "type": "Dinner Meeting"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Returned when the operation successfully creates an action. The response body contains the ID of the new action.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PostResponse"
                                },
                                "example": {
                                    "id": "1281"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Returned when the request body is not in the appropriate format.",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "403": {
                        "description": "Returned when the user does not have permission to create the action.",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "404": {
                        "description": "Returned when the specified constituent is not found.",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/constituents/{constituent_id}/actions": {
            "get": {
                "tags": [
                    "Action"
                ],
                "summary": "Action list (Single constituent)",
                "description": "Returns a list of actions for a constituent sorted by action date in descending order.",
                "operationId": "ListActionsSingleConstituent",
                "parameters": [
                    {
                        "name": "constituent_id",
                        "in": "path",
                        "description": "The immutable system record ID of the constituent to retrieve the actions for.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returned when the operation succeeds. The response body contains a <a href=\"https://developer.blackbaud.com/skyapi/api/entity-reference/constituent#Collection\">collection</a> of <a href=\"https://developer.blackbaud.com/skyapi/api/entity-reference/constituent#Action\">action</a> entities.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiCollectionOfActionRead"
                                },
                                "example": {
                                    "count": 4,
                                    "value": [
                                        {
                                            "id": "410",
                                            "category": "Mailing",
                                            "completed": false,
                                            "computed_status": "PastDue",
                                            "constituent_id": "280",
                                            "date": "2009-02-19T00:00:00.0000000+00:00",
                                            "date_added": "1999-10-26T15:45:27.4630000+00:00",
                                            "date_modified": "2004-02-27T18:46:06.2370000+00:00",
                                            "description": "Send invitation for Dr. Hernandez to attend our board meetings.  Send schedule of meetings.",
                                            "fundraisers": [
                                                "252"
                                            ],
                                            "status": "Past due",
                                            "status_code": "Pending",
                                            "summary": "Sent invitation for Dr. Hernandez to attend our board meetings.  Sent schedule of meetings.",
                                            "type": "Brochure/Invitation"
                                        },
                                        {
                                            "id": "316",
                                            "category": "Email",
                                            "completed": false,
                                            "computed_status": "PastDue",
                                            "constituent_id": "280",
                                            "date": "2009-02-16T00:00:00.0000000+00:00",
                                            "date_added": "1999-10-26T18:04:30.8200000+00:00",
                                            "date_modified": "2007-05-02T19:11:28.2000000+00:00",
                                            "description": "Sending Annual Report for board member review.",
                                            "status": "Past due",
                                            "status_code": "Pending",
                                            "summary": "Sending Annual Report for board member review.",
                                            "type": "Correspondence"
                                        },
                                        {
                                            "id": "315",
                                            "category": "Meeting",
                                            "completed": false,
                                            "computed_status": "PastDue",
                                            "constituent_id": "280",
                                            "date": "2008-06-04T00:00:00.0000000+00:00",
                                            "date_added": "1999-10-26T17:59:50.5070000+00:00",
                                            "date_modified": "2007-06-18T13:27:39.6700000+00:00",
                                            "description": "Held in board room quarterly.",
                                            "location": "Board Room",
                                            "status": "Past due",
                                            "status_code": "Pending",
                                            "summary": "Held in board room quarterly.",
                                            "type": "Board Meeting"
                                        },
                                        {
                                            "id": "407",
                                            "category": "Meeting",
                                            "completed": true,
                                            "completed_date": "2008-04-20T00:00:00.0000000+00:00",
                                            "computed_status": "Completed",
                                            "constituent_id": "280",
                                            "date": "2008-04-18T00:00:00.0000000+00:00",
                                            "date_added": "2001-09-19T17:48:40.0430000+00:00",
                                            "date_modified": "2007-05-02T19:11:08.6870000+00:00",
                                            "description": "Mr. Rahman is taking Dr. Hernandez out to dinner to thank him for his continued support of our relief efforts.",
                                            "fundraisers": [
                                                "252"
                                            ],
                                            "opportunity_id": "23",
                                            "status": "Completed",
                                            "status_code": "Closed",
                                            "summary": "Mr. Rahman is taking Dr. Hernandez out to dinner to thank him for his continued support of our relief efforts.",
                                            "type": "Dinner Meeting"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Returned when the specified ID is not in the appropriate format.",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "403": {
                        "description": "Returned when the user does not have permission to view the actions.",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "404": {
                        "description": "Returned when the specified constituent is not found.",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/actions/{action_id}": {
            "get": {
                "tags": [
                    "Action"
                ],
                "summary": "Action (Get)",
                "description": "Returns information about an action.",
                "operationId": "GetAction",
                "parameters": [
                    {
                        "name": "action_id",
                        "in": "path",
                        "description": "The immutable system record ID of the action to retrieve information for.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returned when the operation succeeds. The response body contains the specified <a href=\"https://developer.blackbaud.com/skyapi/api/entity-reference/constituent#Action\">action</a> entity.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ActionRead"
                                },
                                "example": {
                                    "id": "410",
                                    "category": "Mailing",
                                    "completed": true,
                                    "completed_date": "2009-02-24T00:00:00.0000000+00:00",
                                    "computed_status": "Completed",
                                    "constituent_id": "280",
                                    "date": "2009-02-19T00:00:00.0000000+00:00",
                                    "date_added": "1999-10-26T15:45:27.4630000+00:00",
                                    "date_modified": "2004-02-27T18:46:06.2370000+00:00",
                                    "description": "Send invitation for Dr. Hernandez to attend our board meetings.  Send schedule of meetings.",
                                    "direction": "Outbound",
                                    "end_time": "2025-11-07",
                                    "fundraisers": [
                                        "252"
                                    ],
                                    "location": "Rafferty's",
                                    "outcome": "Successful",
                                    "priority": "Normal",
                                    "start_time": "2025-11-07",
                                    "status": "Closed",
                                    "status_code": "Closed",
                                    "summary": "Sent invitation for Dr. Hernandez to attend our board meetings.  Sent schedule of meetings.",
                                    "type": "Brochure/Invitation"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Returned when the specified constituent ID in the request URL is not in the appropriate format.",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "403": {
                        "description": "Returned when the user does not have permission to view the action.",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "404": {
                        "description": "Returned when the specified action is not found.",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Action"
                ],
                "summary": "Action (Delete)",
                "description": "Deletes a constituent action.",
                "operationId": "DeleteAction",
                "parameters": [
                    {
                        "name": "action_id",
                        "in": "path",
                        "description": "The immutable system record ID of the action to delete.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returned when the operation successfully deletes the action.",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "400": {
                        "description": "Returned when the specified action ID in the request URL is not in the appropriate format.",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "403": {
                        "description": "Returned when the user does not have permission to delete the action.",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "Action"
                ],
                "summary": "Action (Edit)",
                "description": "Edits a constituent action.",
                "operationId": "EditAction",
                "parameters": [
                    {
                        "name": "action_id",
                        "in": "path",
                        "description": "The immutable system record ID of the action to edit.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "An object that represents the properties of the action to edit.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ActionEdit"
                            },
                            "example": {
                                "category": "Meeting",
                                "completed": true,
                                "completed_date": "2015-08-26T00:00:00.0000000+00:00",
                                "date": "2015-08-26T00:00:00.0000000+00:00",
                                "description": "Had dinner with Dr. Hernandez at Rafferty's",
                                "direction": "Outbound",
                                "end_time": "2025-11-07",
                                "fundraisers": [
                                    "252"
                                ],
                                "location": "Rafferty's",
                                "outcome": "Successful",
                                "priority": "Normal",
                                "start_time": "2025-11-07",
                                "status": "Closed",
                                "summary": "Sushi dinner celebration",
                                "type": "Dinner Meeting"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Returned when the operation successfully edits the action.",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "400": {
                        "description": "Returned when the specified action ID in the request URL body or the specified request parameters are not in the appropriate format.",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "403": {
                        "description": "Returned when the user does not have permission to edit the action.",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "404": {
                        "description": "Returned when the specified action is not found.",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/actiontypes": {
            "get": {
                "tags": [
                    "Action"
                ],
                "summary": "Action types",
                "description": "Returns a list of active action types.",
                "operationId": "ListActionTypes",
                "responses": {
                    "200": {
                        "description": "Returned when the operation succeeds. The response body contains a <a href=\"https://developer.blackbaud.com/skyapi/api/entity-reference/constituent#Collection\">collection</a> of string action types.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiCollectionOfString"
                                },
                                "example": {
                                    "count": 27,
                                    "value": [
                                        "Breakfast Meeting",
                                        "Advocacy",
                                        "Birthday",
                                        "Board Meeting",
                                        "Brochure",
                                        "Brochure/Invitation",
                                        "Correspondence",
                                        "Dinner Meeting",
                                        "Follow-Up",
                                        "Hello Letter",
                                        "Inquiry",
                                        "Introduction Call",
                                        "Invitation",
                                        "Lecture",
                                        "Letter",
                                        "Lunch Meeting",
                                        "Meeting",
                                        "Payment Due",
                                        "Phone Call",
                                        "Planning Meeting",
                                        "Proposal",
                                        "Questionnaire",
                                        "RE Letter Document",
                                        "Solicitation",
                                        "Thank You",
                                        "Tickler",
                                        "Visit"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/actionstatustypes": {
            "get": {
                "tags": [
                    "Action"
                ],
                "summary": "Action status types",
                "description": "Returns a list of active action status types.",
                "operationId": "ListActionStatusTypes",
                "responses": {
                    "200": {
                        "description": "Returned when the operation succeeds. The response body contains a <a href=\"https://developer.blackbaud.com/skyapi/api/entity-reference/constituent#Collection\">collection</a> of string action status types.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiCollectionOfString"
                                },
                                "example": {
                                    "count": 7,
                                    "value": [
                                        "Closed",
                                        "Completed",
                                        "Continuous",
                                        "Not Completed",
                                        "Open",
                                        "Pending",
                                        "Sent"
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Returned when the user does not have permission to view the action status types.",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/actionlocations": {
            "get": {
                "tags": [
                    "Action"
                ],
                "summary": "Action locations",
                "description": "Returns a list of active action locations.",
                "operationId": "ListActionLocations",
                "responses": {
                    "200": {
                        "description": "Returned when the operation succeeds. The response body contains a <a href=\"https://developer.blackbaud.com/skyapi/api/entity-reference/constituent#Collection\">collection</a> of string action locations.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiCollectionOfString"
                                },
                                "example": {
                                    "count": 13,
                                    "value": [
                                        "Prospect's Home",
                                        "Prospect's Office",
                                        "Starbucks",
                                        "Arthur's Restaurant",
                                        "Ashford Business Park",
                                        "Board Room",
                                        "Chamber of Commerce",
                                        "Chicago Eye Clinic",
                                        "Conference Room B",
                                        "Hilton Hotel",
                                        "Mimi's Restaurant",
                                        "Rafferty's",
                                        "The Country Place Restaurant"
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Returned when the user does not have permission to view the action locations.",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/actions/{action_id}/attachments": {
            "get": {
                "tags": [
                    "Action"
                ],
                "summary": "Action attachment list (Single action)",
                "description": "Returns a list of attachments for an action.",
                "operationId": "ListActionAttachmentsSingleAction",
                "parameters": [
                    {
                        "name": "action_id",
                        "in": "path",
                        "description": "The immutable system record ID of the action to retrieve attachments for.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returned when the operation succeeds. The response body contains a <a href=\"https://developer.blackbaud.com/skyapi/api/entity-reference/constituent#Collection\">collection</a> of <a href=\"https://developer.blackbaud.com/skyapi/api/entity-reference/constituent#Attachment\">attachment</a> entities.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiCollectionOfAttachmentRead"
                                },
                                "example": {
                                    "count": 2,
                                    "value": [
                                        {
                                            "id": "F7AEAD3D-7F86-4B8D-909B-B76706C0DB04",
                                            "date": "2017-07-21T04:00:00.0000000+00:00",
                                            "name": "Meeting minutes",
                                            "parent_id": "1",
                                            "tags": [
                                                "Document"
                                            ],
                                            "type": "Link",
                                            "url": "http://www.example.com/Meetings/20170721/Notes.docx"
                                        },
                                        {
                                            "id": "5B094C8B-5961-4E7F-B1FE-F13ECFC6F82E",
                                            "content_type": "image/jpeg",
                                            "date": "2015-01-22T04:00:00.0000000+00:00",
                                            "file_id": "5B094C8B-5961-4E7F-B1FE-F13ECFC6F82E",
                                            "file_name": "ActionEvent_Snapshot.jpg",
                                            "file_size": 125436,
                                            "name": "Action Event Picture",
                                            "parent_id": "412",
                                            "thumbnail_id": "4DF6B36A-3058-4FA9-ACA5-4BCD08E67ACF",
                                            "thumbnail_url": "http://prodsarnxdocmn002blkbrdo.blob.core.windows.net/blackbauddocumentsvc/tenants/a486g1de-73f5-4a81-a4b1-ff353509fbde/documents/4DF6B36A-3058-4FA9-ACA5-4BCD08E67ACF/ActionEvent_Snapshot_thumbnail.jpg?sv=2015-05-17&sr=b&sig=HI0UTKNjiCVB6AtGHBVuCdhgnETbRPYegwb7%2FQyjI%2FU%3D&se=2015-10-15T18%3A25%3A30Z&sp=r",
                                            "type": "Physical",
                                            "url": "http://prodsarnxdocmn002blkbrdo.blob.core.windows.net/blackbauddocumentsvc/tenants/a486g1de-73f5-4a81-a4b1-ff353509fbde/documents/5B094C8B-5961-4E7F-B1FE-F13ECFC6F82E/ActionEvent_Snapshot.jpg?sv=2015-05-17&sr=b&sig=HI0UTKNjiCVB6AtGHBVuCdhgnETbRPYegwb7%2FQyjI%2FU%3D&se=2015-10-15T18%3A25%3A30Z&sp=r"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Returned when the specified action ID in the request URL is not in the appropriate format.",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "403": {
                        "description": "Returned when the user does not have permission to view the attachments.",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "404": {
                        "description": "Returned when the specified action is not found.",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/actions/attachments": {
            "post": {
                "tags": [
                    "Action"
                ],
                "summary": "Action attachment (Create)",
                "description": "Creates an action attachment.",
                "operationId": "CreateActionAttachment",
                "requestBody": {
                    "description": "An object that represents the attachment to create.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AttachmentAdd"
                            },
                            "example": {
                                "date": "2017-07-21T04:00:00.0000000+00:00",
                                "name": "Lunch Menu",
                                "parent_id": "412",
                                "tags": [
                                    "Lunch"
                                ],
                                "type": "Link",
                                "url": "http://www.example.com/lunchmeeting/menu"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Returned when the operation successfully creates an attachment. The response body contains the ID of the new attachment.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PostResponse"
                                },
                                "example": {
                                    "id": "1281"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Returned when the request body is not in the appropriate format.",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "403": {
                        "description": "Returned when the user does not have permission to create the attachment.",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "404": {
                        "description": "Returned when the specified action is not found.",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/actions/attachments/{attachment_id}": {
            "delete": {
                "tags": [
                    "Action"
                ],
                "summary": "Action attachment (Delete)",
                "description": "Deletes an action attachment.",
                "operationId": "DeleteActionAttachment",
                "parameters": [
                    {
                        "name": "attachment_id",
                        "in": "path",
                        "description": "The immutable system record ID of the attachment to delete.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returned when the operation successfully deletes the attachment.",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "400": {
                        "description": "Returned when the specified attachment ID in the request URL is not in the appropriate format.",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "403": {
                        "description": "Returned when the user does not have permission to delete the attachment.",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "Action"
                ],
                "summary": "Action attachment (Edit)",
                "description": "Edits an action attachment.",
                "operationId": "EditActionAttachment",
                "parameters": [
                    {
                        "name": "attachment_id",
                        "in": "path",
                        "description": "The immutable system record ID of the attachment to edit.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "An object that represents the properties of the attachment to edit.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AttachmentEdit"
                            },
                            "example": {
                                "date": "2015-01-25T04:00:00.0000000+00:00",
                                "tags": [
                                    "Gluten Free",
                                    "Lunch"
                                ],
                                "url": "www.example.com/updatedLunchMenu"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Returned when the operation successfully edits the attachment.",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "400": {
                        "description": "Returned when the specified attachment ID in the request URL or the specified request parameters are not in the appropriate format.",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "403": {
                        "description": "Returned when the user does not have permission to edit the attachment.",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "404": {
                        "description": "Returned when the specified attachment is not found.",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/actions/{action_id}/customfields": {
            "get": {
                "tags": [
                    "Action"
                ],
                "summary": "Action custom field list (Single action)",
                "description": "Returns a list of custom fields for an action.",
                "operationId": "ListActionCustomFieldsSingleAction",
                "parameters": [
                    {
                        "name": "action_id",
                        "in": "path",
                        "description": "The immutable system record ID of the action to retrieve the custom fields for.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returned when the operation succeeds. The response body contains a <a href=\"https://developer.blackbaud.com/skyapi/api/entity-reference/constituent#Collection\">collection</a> of <a href=\"https://developer.blackbaud.com/skyapi/api/entity-reference/constituent#CustomField\">custom field</a> entities.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiCollectionOfCustomFieldRead"
                                },
                                "example": {
                                    "count": 4,
                                    "value": [
                                        {
                                            "id": "281",
                                            "category": "Interest Generated?",
                                            "comment": "Clearly stated",
                                            "date": "2016-07-21T00:00:00.0000000+00:00",
                                            "parent_id": "1370",
                                            "type": "CodeTableEntry",
                                            "value": "Yes"
                                        },
                                        {
                                            "id": "282",
                                            "category": "Attended?",
                                            "comment": "Attends every year",
                                            "date": "2016-07-21T00:00:00.0000000+00:00",
                                            "parent_id": "1370",
                                            "type": "Boolean",
                                            "value": true
                                        },
                                        {
                                            "id": "283",
                                            "category": "Responded?",
                                            "comment": "Stated previously that he may not reply",
                                            "date": "2016-07-21T00:00:00.0000000+00:00",
                                            "parent_id": "1370",
                                            "type": "Boolean",
                                            "value": false
                                        },
                                        {
                                            "id": "284",
                                            "category": "Left Message?",
                                            "comment": "We left a message not expecting a response",
                                            "date": "2016-07-21T00:00:00.0000000+00:00",
                                            "parent_id": "1370",
                                            "type": "Boolean",
                                            "value": true
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Returned when the specified action ID in the request URL is not in the appropriate format.",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "403": {
                        "description": "Returned when the user does not have permission to view the custom fields.",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "404": {
                        "description": "Returned when the specified action is not found.",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/actions/customfields": {
            "post": {
                "tags": [
                    "Action"
                ],
                "summary": "Action custom field (Create)",
                "description": "Creates an action custom field.",
                "operationId": "CreateActionCustomField",
                "requestBody": {
                    "description": "An object that represents the custom field to create.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CustomFieldAdd"
                            },
                            "example": {
                                "category": "Left Message?",
                                "comment": "We left a message not expecting a response",
                                "date": "2016-07-21T00:00:00.0000000+00:00",
                                "parent_id": "1370",
                                "value": true
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Returned when the operation successfully creates a custom field. The response body contains the ID of the new custom field.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PostResponse"
                                },
                                "example": {
                                    "id": "1281"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Returned when the request body is not in the appropriate format.",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "403": {
                        "description": "Returned when the user does not have permission to create the custom field.",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "404": {
                        "description": "Returned when the specified action is not found.",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/actions/customfields/{custom_field_id}": {
            "delete": {
                "tags": [
                    "Action"
                ],
                "summary": "Action custom field (Delete)",
                "description": "Deletes an action custom field.",
                "operationId": "DeleteActionCustomField",
                "parameters": [
                    {
                        "name": "custom_field_id",
                        "in": "path",
                        "description": "The immutable system record ID of the custom field to delete.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returned when the operation successfully deletes the custom field.",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "400": {
                        "description": "Returned when the specified custom field ID in the request URL is not in the appropriate format.",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "403": {
                        "description": "Returned when the user does not have permission to delete the custom field.",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "Action"
                ],
                "summary": "Action custom field (Edit)",
                "description": "Edits an action custom field.",
                "operationId": "EditActionCustomField",
                "parameters": [
                    {
                        "name": "custom_field_id",
                        "in": "path",
                        "description": "The immutable system record ID of the custom field to edit.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "An object that represents the properties of the custom field to edit.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CustomFieldEdit"
                            },
                            "example": {
                                "comment": "He requested to not be contacted",
                                "date": "2016-07-21T00:00:00.0000000+00:00",
                                "value": false
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Returned when the operation successfully edits the custom field.",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "400": {
                        "description": "Returned when the specified custom field ID in the request URL or the specified request parameters are not in the appropriate format.",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "403": {
                        "description": "Returned when the user does not have permission to edit the custom field.",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "404": {
                        "description": "Returned when the specified custom field is not found.",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/actions/customfields/categories": {
            "get": {
                "tags": [
                    "Action"
                ],
                "summary": "Action custom field categories",
                "description": "Returns a list of custom field categories. <bb-alert bb-alert-type=\"warning\" bb-alert-closeable=\"false\"><b>This endpoint is deprecated. For more detailed custom field category information, use the <a href=\"https://developer.sky.blackbaud.com/docs/services/56b76470069a0509c8f1c5b3/operations/ListActionCustomFieldCategoryDetails\">Custom field category details</a> endpoint instead.</b></bb-alert>",
                "operationId": "ListActionCustomFieldCategories",
                "responses": {
                    "200": {
                        "description": "Returned when the operation succeeds. The response body contains a <a href=\"https://developer.blackbaud.com/skyapi/api/entity-reference/constituent#Collection\">collection</a> of string custom field categories.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiCollectionOfString"
                                },
                                "example": {
                                    "count": 6,
                                    "value": [
                                        "Attended?",
                                        "Guest Name",
                                        "Interest Generated?",
                                        "Left Message?",
                                        "Responded?",
                                        "Talking Points"
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Returned when the user does not have permission to view the custom field categories.",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/actions/customfields/categories/details": {
            "get": {
                "tags": [
                    "Action"
                ],
                "summary": "Action custom field category details",
                "description": "Returns a list of custom field category details.",
                "operationId": "ListActionCustomFieldCategoryDetails",
                "responses": {
                    "200": {
                        "description": "Returned when the operation succeeds. The response body contains a <a href=\"https://developer.blackbaud.com/skyapi/api/entity-reference/constituent#Collection\">collection</a> of <a href=\"https://developer.blackbaud.com/skyapi/api/entity-reference/constituent#CustomFieldCategory\">custom field categories</a>.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiCollectionOfCustomFieldCategoryRead"
                                },
                                "example": {
                                    "count": 8,
                                    "value": [
                                        {
                                            "name": "# of Family Members",
                                            "type": "Number"
                                        },
                                        {
                                            "name": "Anniversary",
                                            "type": "Date"
                                        },
                                        {
                                            "name": "Interest Generated?",
                                            "type": "CodeTableEntry"
                                        },
                                        {
                                            "name": "Business Hours",
                                            "type": "Text"
                                        },
                                        {
                                            "name": "Staff Manager",
                                            "type": "ConstituentId"
                                        },
                                        {
                                            "name": "Attended?",
                                            "type": "Boolean"
                                        },
                                        {
                                            "name": "Member Since",
                                            "type": "FuzzyDate"
                                        },
                                        {
                                            "name": "Net Worth",
                                            "type": "Currency"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Returned when the user does not have permission to view the custom field category details.",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/actions/customfields/categories/values": {
            "get": {
                "tags": [
                    "Action"
                ],
                "summary": "Action custom field category values",
                "description": "Returns a list of custom field values for code table categories.",
                "operationId": "ListActionCustomFieldCategoryValues",
                "parameters": [
                    {
                        "name": "category_name",
                        "in": "query",
                        "description": "The name of the code table category to return values for.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returned when the operation succeeds. The response body contains a <a href=\"https://developer.blackbaud.com/skyapi/api/entity-reference/constituent#Collection\">collection</a> of string custom field category values.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiCollectionOfString"
                                },
                                "example": {
                                    "count": 3,
                                    "value": [
                                        "Yes",
                                        "No",
                                        "At a later date"
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Returned when the specified request parameter is not in the appropriate format.",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "403": {
                        "description": "Returned when the user does not have permission to view the custom field category values.",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/addresses": {
            "get": {
                "tags": [
                    "Address"
                ],
                "summary": "Address list (All constituents)",
                "description": "Returns a paginated list of addresses.\r\n<p />\r\nThe default sorting behavior is to list addresses in ascending order based on when they were created.\r\n<p />\r\nHowever, the <code>last_modified</code> parameter overrides the default sorting behavior to list addresses in ascending order based on when they were last modified. The <code>last_modified</code> and <code>date_added</code> parameters also add the <code>sort_token</code> parameter to the <code>next_link</code> URL to ensure that addresses are stably sorted and that order persists when changes occur while working through a paginated list.\r\n<p />\r\nIf the <code>last_modified</code> and <code>date_added</code> parameters are both specified, the sorting behavior is to list addresses based on when they were last modified.\r\n<p /><b>Note:</b> This endpoint returns data with an average latency of about 30 minutes.",
                "operationId": "ListConstituentAddressesAllConstituents",
                "parameters": [
                    {
                        "name": "date_added",
                        "in": "query",
                        "description": "Represents a filter for addresses created on or after the specified date. The filter respects time offsets from UTC per the ISO-8601 format: 2016-05-05T17:59:31.1600745-04:00.",
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "last_modified",
                        "in": "query",
                        "description": "Represents a filter for addresses modified on or after the specified date. The filter respects time offsets from UTC per the ISO-8601 format: 2016-05-05T17:59:31.1600745-04:00.",
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "sort_token",
                        "in": "query",
                        "description": "Represents a token filter to provide the next stable-sorted list of addresses. This will be provided on the next_link collection response property when last_modified or sort_token filters are specified on the request.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "include_inactive",
                        "in": "query",
                        "description": "Set this parameter to \"true\" to include inactive addresses in the response.",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "constituent_id",
                        "in": "query",
                        "description": "Represents a list of constituent identifiers. Returns addresses if any of the specified constituent identifiers match any of the addresses' associated constituents. For example, \"constituent_id=280&amp;constituent_id=1232\" returns addresses with either \"280\" or \"1232\" constituent identifiers.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Represents the number of records to return. The default is 500. The maximum is 5000.",
                        "schema": {
                            "maximum": 5000,
                            "minimum": 0,
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "Represents the number of records to skip. For use with pagination.",
                        "schema": {
                            "maximum": 2147483647,
                            "minimum": 0,
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returned when the operation succeeds. The response body contains a <a href=\"https://developer.blackbaud.com/skyapi/api/entity-reference/constituent#Collection\">collection</a> of <a href=\"https://developer.blackbaud.com/skyapi/api/entity-reference/constituent#Address\">address</a> entities.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiCollectionOfAddressRead"
                                },
                                "example": {
                                    "count": 774,
                                    "next_link": "https://api.sky.blackbaud.com/constituent/v1/addresses?offset=4&limit=4",
                                    "value": [
                                        {
                                            "id": "184",
                                            "address_lines": "248 Twin Lane\r\nBuilding #3299",
                                            "city": "Birmingham",
                                            "constituent_id": "185",
                                            "country": "United States",
                                            "county": "Bailey",
                                            "date_added": "1999-05-20T18:52:54.0000000+00:00",
                                            "date_modified": "2016-10-19T19:42:38.7750000+00:00",
                                            "do_not_mail": false,
                                            "end": "2025-03-26T00:00:00.0000000+00:00",
                                            "inactive": false,
                                            "postal_code": "35220",
                                            "preferred": true,
                                            "seasonal_end": {
                                                "d": 26,
                                                "m": 8
                                            },
                                            "seasonal_start": {
                                                "d": 12,
                                                "m": 6
                                            },
                                            "start": "2003-03-26T00:00:00.0000000+00:00",
                                            "state": "AL",
                                            "type": "Home"
                                        },
                                        {
                                            "id": "185",
                                            "address_lines": "2457 Morrison Drive",
                                            "city": "Savannah",
                                            "constituent_id": "186",
                                            "country": "United States",
                                            "date_added": "1999-05-20T18:52:55.0000000+00:00",
                                            "date_modified": "2016-10-19T19:42:38.7750000+00:00",
                                            "do_not_mail": false,
                                            "inactive": false,
                                            "postal_code": "31406",
                                            "preferred": true,
                                            "seasonal_end": {
                                                "d": 26,
                                                "m": 8
                                            },
                                            "seasonal_start": {
                                                "d": 12,
                                                "m": 6
                                            },
                                            "start": "2001-02-26T00:00:00.0000000+00:00",
                                            "state": "GA",
                                            "type": "Home"
                                        },
                                        {
                                            "id": "186",
                                            "address_lines": "125 Smokerise Way",
                                            "city": "Charleston",
                                            "constituent_id": "187",
                                            "country": "United States",
                                            "county": "Charleston",
                                            "date_added": "1999-05-20T18:52:55.0000000+00:00",
                                            "date_modified": "2016-10-19T19:42:38.7750000+00:00",
                                            "do_not_mail": false,
                                            "inactive": false,
                                            "postal_code": "29401",
                                            "preferred": true,
                                            "start": "1994-03-26T00:00:00.0000000+00:00",
                                            "state": "SC",
                                            "type": "Home"
                                        },
                                        {
                                            "id": "187",
                                            "address_lines": "4859 Philpot Lane",
                                            "city": "Minneapolis",
                                            "constituent_id": "188",
                                            "country": "United States",
                                            "date_added": "1999-05-20T18:52:56.0000000+00:00",
                                            "date_modified": "2016-10-19T19:42:38.7750000+00:00",
                                            "do_not_mail": false,
                                            "inactive": false,
                                            "postal_code": "55403",
                                            "preferred": true,
                                            "state": "MN",
                                            "type": "Home"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Returned when the specified request parameters are not in the appropriate format.",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "403": {
                        "description": "Returned when the user does not have permission to view the addresses.",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Address"
                ],
                "summary": "Address (Create)",
                "description": "Creates a constituent address.",
                "operationId": "CreateConstituentAddress",
                "requestBody": {
                    "description": "An object that represents the address to create.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AddressAdd"
                            },
                            "example": {
                                "address_lines": "410 18th Street",
                                "city": "Denver",
                                "constituent_id": "280",
                                "country": "United States",
                                "county": "Denver",
                                "do_not_mail": false,
                                "end": "2025-03-26T00:00:00.0000000+00:00",
                                "postal_code": "80209-4402",
                                "preferred": true,
                                "seasonal_end": {
                                    "m": 8,
                                    "d": 26
                                },
                                "seasonal_start": {
                                    "m": 6,
                                    "d": 12
                                },
                                "start": "2003-03-26T00:00:00.0000000+00:00",
                                "state": "CO",
                                "type": "Home"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Returned when the operation successfully creates an address. The response body contains the ID of the new address.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PostResponse"
                                },
                                "example": {
                                    "id": "1281"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Returned when the request body is not in the appropriate format.",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "403": {
                        "description": "Returned when the user does not have permission to create the address.",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "404": {
                        "description": "Returned when the specified constituent is not found.",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/constituents/{constituent_id}/addresses": {
            "get": {
                "tags": [
                    "Address"
                ],
                "summary": "Address list (Single constituent)",
                "description": "Returns a list of addresses for a constituent.",
                "operationId": "ListConstituentAddressesSingleConstituent",
                "parameters": [
                    {
                        "name": "constituent_id",
                        "in": "path",
                        "description": "The immutable system record ID of the constituent to retrieve the addresses for.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "include_inactive",
                        "in": "query",
                        "description": "Set this parameter to \"true\" to include inactive addresses in the response.",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returned when the operation succeeds. The response body contains a <a href=\"https://developer.blackbaud.com/skyapi/api/entity-reference/constituent#Collection\">collection</a> of <a href=\"https://developer.blackbaud.com/skyapi/api/entity-reference/constituent#Address\">address</a> entities.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiCollectionOfAddressReadExtended"
                                },
                                "example": {
                                    "count": 4,
                                    "value": [
                                        {
                                            "id": "757",
                                            "address_lines": "410 17th Street",
                                            "city": "Denver",
                                            "constituent_id": "280",
                                            "country": "United States",
                                            "county": "Denver",
                                            "do_not_mail": false,
                                            "end": "2025-03-26T00:00:00.0000000+00:00",
                                            "formatted_address": "410 17th Street\r\nDenver, CO  80202-4402",
                                            "inactive": false,
                                            "postal_code": "80202-4402",
                                            "preferred": true,
                                            "seasonal_end": {
                                                "d": 26,
                                                "m": 8
                                            },
                                            "seasonal_start": {
                                                "d": 12,
                                                "m": 6
                                            },
                                            "start": "2003-03-26T00:00:00.0000000+00:00",
                                            "state": "CO",
                                            "type": "Home"
                                        },
                                        {
                                            "id": "411",
                                            "address_lines": "102 Liberty Avenue",
                                            "city": "Chicago",
                                            "constituent_id": "280",
                                            "country": "United States",
                                            "do_not_mail": false,
                                            "formatted_address": "102 Liberty Avenue\r\nChicago, IL  60610",
                                            "inactive": false,
                                            "postal_code": "60610",
                                            "preferred": false,
                                            "start": "1994-03-26T00:00:00.0000000+00:00",
                                            "state": "IL",
                                            "type": "Business"
                                        },
                                        {
                                            "id": "582",
                                            "address_lines": "962 Cactus Point",
                                            "city": "Sedona",
                                            "constituent_id": "280",
                                            "country": "United States",
                                            "do_not_mail": false,
                                            "end": "2004-03-26T00:00:00.0000000+00:00",
                                            "formatted_address": "962 Cactus Point\r\nSedona, AZ  86336",
                                            "inactive": true,
                                            "postal_code": "86336",
                                            "preferred": false,
                                            "seasonal_end": {
                                                "d": 30,
                                                "m": 12
                                            },
                                            "seasonal_start": {
                                                "d": 1,
                                                "m": 1
                                            },
                                            "start": "2003-03-26T00:00:00.0000000+00:00",
                                            "state": "AZ",
                                            "type": "Vacation Home"
                                        },
                                        {
                                            "id": "738",
                                            "address_lines": "27 Parkview Road",
                                            "city": "Manchester",
                                            "constituent_id": "280",
                                            "country": "United States",
                                            "do_not_mail": false,
                                            "formatted_address": "27 Parkview Road\r\nManchester, NH  03109",
                                            "inactive": false,
                                            "postal_code": "03109",
                                            "preferred": false,
                                            "state": "NH",
                                            "type": "Shipping"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Returned when the specified constituent ID in the request URL is not in the appropriate format.",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "403": {
                        "description": "Returned when the user does not have permission to view the addresses.",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "404": {
                        "description": "Returned when the specified constituent is not found.",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/addresses/{address_id}": {
            "delete": {
                "tags": [
                    "Address"
                ],
                "summary": "Address (Delete)",
                "description": "Deletes a constituent address.",
                "operationId": "DeleteConstituentAddress",
                "parameters": [
                    {
                        "name": "address_id",
                        "in": "path",
                        "description": "The immutable system record ID of the address to delete.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returned when the operation successfully deletes the address.",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "400": {
                        "description": "Returned when the specified address ID in the request URL is not in the appropriate format.",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "403": {
                        "description": "Returned when the user does not have permission to delete the address.",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "Address"
                ],
                "summary": "Address (Edit)",
                "description": "Edits a constituent address.",
                "operationId": "EditConstituentAddress",
                "parameters": [
                    {
                        "name": "address_id",
                        "in": "path",
                        "description": "The immutable system record ID of the address to edit.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "An object that represents the properties of the address to edit.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AddressEdit"
                            },
                            "example": {
                                "address_lines": "410 18th Street",
                                "city": "Denver",
                                "country": "United States",
                                "county": "Denver",
                                "do_not_mail": false,
                                "end": "2025-03-26T00:00:00.0000000+00:00",
                                "postal_code": "80209-4402",
                                "preferred": true,
                                "seasonal_end": {
                                    "m": 8,
                                    "d": 26
                                },
                                "seasonal_start": {
                                    "m": 6,
                                    "d": 12
                                },
                                "start": "2003-03-26T00:00:00.0000000+00:00",
                                "state": "CO",
                                "type": "Home"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Returned when the operation successfully edits the address.",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "400": {
[...]
